xsd/sheets/AbuseLetterList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/AbuseLetterList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            targetNamespace="https://vezel.dev/novadrop/dc/AbuseLetterList"
            elementFormDefault="qualified">
    <xsd:complexType name="AbuseLetterList">
        <xsd:sequence>
            <xsd:element name="AbuseLetter"
                         type="AbuseLetterList_AbuseLetter"
                         maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AbuseLetterList_AbuseLetter">
        <xsd:attribute name="string"
                       type="xsd:string"
                       use="required" />
    </xsd:complexType>

    <xsd:element name="AbuseLetterList"
                 type="AbuseLetterList" />
</xsd:schema>
