xsd/sheets/AccountBenefit.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/AccountBenefit"
            targetNamespace="https://vezel.dev/novadrop/dc/AccountBenefit"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="AccountBenefit">
        <xsd:sequence>
            <xsd:element name="PackageList" type="AccountBenefit_PackageList" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AccountBenefit_PackageList">
        <xsd:sequence>
            <xsd:element name="Package" type="AccountBenefit_PackageList_Package" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AccountBenefit_PackageList_Package"
                     dc:keys="id">
        <xsd:attribute name="awesomiumRewardButtonText" type="xsd:string" />
        <xsd:attribute name="clickable" type="xsd:boolean" />
        <xsd:attribute name="customLobbyString" type="xsd:string" />
        <xsd:attribute name="displayPosition" type="xsd:string" />
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="kind" type="xsd:string" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="normalRewardButtonText" type="xsd:string" />
        <xsd:attribute name="tooltip" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="AccountBenefit" type="AccountBenefit" />
</xsd:schema>
