xsd/sheets/AnimEffectData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/AnimEffectData"
            targetNamespace="https://vezel.dev/novadrop/dc/AnimEffectData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="AnimEffectData">
        <xsd:sequence>
            <xsd:element name="AnimEffect" type="AnimEffectData_AnimEffect" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="animSet" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="AnimEffectData_AnimEffect">
        <xsd:sequence>
            <xsd:element name="Effect" type="AnimEffectData_AnimEffect_Effect" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="animName" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="AnimEffectData_AnimEffect_Effect">
        <xsd:attribute name="absoluteOffsetLoc" type="xsd:boolean" use="required" />
        <xsd:attribute name="bGround" type="xsd:boolean" use="required" />
        <xsd:attribute name="boneName" type="xsd:string" />
        <xsd:attribute name="detach" type="xsd:boolean" use="required" />
        <xsd:attribute name="playRate" type="xsd:float" use="required" />
        <xsd:attribute name="posX" type="xsd:float" use="required" />
        <xsd:attribute name="posY" type="xsd:float" use="required" />
        <xsd:attribute name="posZ" type="xsd:float" use="required" />
        <xsd:attribute name="removeDupEffect" type="xsd:boolean" />
        <xsd:attribute name="rescaleMethod" type="xsd:string" use="required" />
        <xsd:attribute name="resource" type="xsd:string" use="required" />
        <xsd:attribute name="rotX" type="xsd:float" use="required" />
        <xsd:attribute name="rotY" type="xsd:float" use="required" />
        <xsd:attribute name="rotZ" type="xsd:float" use="required" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" />
        <xsd:attribute name="scaleY" type="xsd:float" />
        <xsd:attribute name="scaleZ" type="xsd:float" />
        <xsd:attribute name="time" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="AnimEffectData" type="AnimEffectData" />
</xsd:schema>
