xsd/sheets/AttachMeshData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/AttachMeshData"
            targetNamespace="https://vezel.dev/novadrop/dc/AttachMeshData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="AttachMeshData">
        <xsd:sequence>
            <xsd:element name="Attach" type="AttachMeshData_Attach" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AttachMeshData_Attach">
        <xsd:sequence>
            <xsd:element name="MeshList" type="AttachMeshData_Attach_MeshList" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="AttachMeshData_Attach_MeshList">
        <xsd:sequence>
            <xsd:element name="Mesh" type="AttachMeshData_Attach_MeshList_Mesh" />
        </xsd:sequence>

        <xsd:attribute name="gender" type="xsd:string" use="required" />
        <xsd:attribute name="race" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="AttachMeshData_Attach_MeshList_Mesh">
        <xsd:attribute name="attachBoneName" type="xsd:string" use="required" />
        <xsd:attribute name="despawnEffectId" type="xsd:int" use="required" />
        <xsd:attribute name="location" type="xsd:string" use="required" />
        <xsd:attribute name="rotation" type="xsd:string" use="required" />
        <xsd:attribute name="scale" type="xsd:string" use="required" />
        <xsd:attribute name="shape" type="xsd:string" use="required" />
        <xsd:attribute name="shapeId" type="xsd:int" use="required" />
        <xsd:attribute name="spawnEffectId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="AttachMeshData" type="AttachMeshData" />
</xsd:schema>
