xsd/sheets/BattlePassExp.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/BattlePassExp"
            targetNamespace="https://vezel.dev/novadrop/dc/BattlePassExp"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="BattlePassExp">
        <xsd:sequence>
            <xsd:element name="ExpData" type="BattlePassExp_ExpData" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BattlePassExp_ExpData">
        <xsd:sequence>
            <xsd:element name="Exp" type="BattlePassExp_ExpData_Exp" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="BattlePassExp_ExpData_Exp">
        <xsd:attribute name="expNeeded" type="xsd:string" use="required" />
        <xsd:attribute name="level" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="BattlePassExp" type="BattlePassExp" />
</xsd:schema>
