xsd/sheets/CacheNpcShapeData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/CacheNpcShapeData"
            targetNamespace="https://vezel.dev/novadrop/dc/CacheNpcShapeData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="CacheNpcShapeData">
        <xsd:sequence>
            <xsd:element name="NpcShape" type="CacheNpcShapeData_NpcShape" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CacheNpcShapeData_NpcShape">
        <xsd:attribute name="animSet" type="xsd:string" use="required" />
        <xsd:attribute name="animTree" type="xsd:string" use="required" />
        <xsd:attribute name="mesh" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="CacheNpcShapeData" type="CacheNpcShapeData" />
</xsd:schema>
