xsd/sheets/ChangeEnchantFx.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ChangeEnchantFx"
            targetNamespace="https://vezel.dev/novadrop/dc/ChangeEnchantFx"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ChangeEnchantFx">
        <xsd:sequence>
            <xsd:element name="ChangeFx" type="ChangeEnchantFx_ChangeFx" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChangeEnchantFx_ChangeFx">
        <xsd:sequence>
            <xsd:element name="ChangeInfo" type="ChangeEnchantFx_ChangeFx_ChangeInfo" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="changeFxId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ChangeEnchantFx_ChangeFx_ChangeInfo">
        <xsd:attribute name="changedEnchantStep" type="xsd:int" use="required" />
        <xsd:attribute name="originEnchantStep" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="ChangeEnchantFx" type="ChangeEnchantFx" />
</xsd:schema>
