xsd/sheets/ClassEnhanceList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ClassEnhanceList"
            targetNamespace="https://vezel.dev/novadrop/dc/ClassEnhanceList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ClassEnhanceList">
        <xsd:sequence>
            <xsd:element name="ClassEnhance" type="ClassEnhanceList_ClassEnhance" maxOccurs="unbounded" />
            <xsd:element name="LinePassive" type="ClassEnhanceList_LinePassive" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ClassEnhanceList_ClassEnhance">
        <xsd:sequence>
            <xsd:element name="Line" type="ClassEnhanceList_ClassEnhance_Line" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ClassEnhanceList_ClassEnhance_Line">
        <xsd:sequence>
            <xsd:element name="ClassEnhanceSkill" type="ClassEnhanceList_ClassEnhance_Line_ClassEnhanceSkill" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="index" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ClassEnhanceList_ClassEnhance_Line_ClassEnhanceSkill">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="requiredLevel" type="xsd:int" use="required" />
        <xsd:attribute name="sortIdx" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ClassEnhanceList_LinePassive">
        <xsd:sequence>
            <xsd:element name="Line" type="ClassEnhanceList_LinePassive_Line" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ClassEnhanceList_LinePassive_Line">
        <xsd:attribute name="index" type="xsd:int" use="required" />
        <xsd:attribute name="passiveId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="ClassEnhanceList" type="ClassEnhanceList" />
</xsd:schema>
