xsd/sheets/CompetitionDungeon.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/CompetitionDungeon"
            targetNamespace="https://vezel.dev/novadrop/dc/CompetitionDungeon"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="CompetitionDungeon">
        <xsd:sequence>
            <xsd:element name="Dungeon" type="CompetitionDungeon_Dungeon" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CompetitionDungeon_Dungeon">
        <xsd:attribute name="classCompetition" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="CompetitionDungeon" type="CompetitionDungeon" />
</xsd:schema>
