xsd/sheets/CreateCharData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/CreateCharData"
            targetNamespace="https://vezel.dev/novadrop/dc/CreateCharData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="CreateCharData">
        <xsd:sequence>
            <xsd:element name="Char" type="CreateCharData_Char" maxOccurs="unbounded" />
            <xsd:element name="IntroMovie" type="CreateCharData_IntroMovie" maxOccurs="unbounded" />
            <xsd:element name="TutorialInitPos" type="CreateCharData_TutorialInitPos" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreateCharData_Char">
        <xsd:sequence>
            <xsd:element name="CreateCondition" type="CreateCharData_Char_CreateCondition" minOccurs="0" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="CreateCharData_Char_CreateCondition">
        <xsd:attribute name="preConditionLevel" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="CreateCharData_IntroMovie"
                     dc:keys="conditionLevel">
        <xsd:attribute name="conditionLevel" type="xsd:int" />
        <xsd:attribute name="continent" type="xsd:int" />
        <xsd:attribute name="movieId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="CreateCharData_TutorialInitPos">
        <xsd:sequence>
            <xsd:element name="Pos" type="CreateCharData_TutorialInitPos_Pos" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreateCharData_TutorialInitPos_Pos">
        <xsd:attribute name="continent" type="xsd:int" use="required" />
        <xsd:attribute name="dir" type="xsd:int" use="required" />
        <xsd:attribute name="dist" type="xsd:int" use="required" />
        <xsd:attribute name="pos" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="CreateCharData" type="CreateCharData" />
</xsd:schema>
