xsd/sheets/CrestData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/CrestData"
            targetNamespace="https://vezel.dev/novadrop/dc/CrestData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="CrestData">
        <xsd:sequence>
            <xsd:element name="CrestItem" type="CrestData_CrestItem" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="recommendationMargin" type="xsd:int" use="required" />
        <xsd:attribute name="showCrestRemainedInfoIfGreaterThan" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="CrestData_CrestItem">
        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="grade" type="xsd:int" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="level" type="xsd:int" />
        <xsd:attribute name="parentId" type="xsd:int" use="required" />
        <xsd:attribute name="passivityLink" type="xsd:string" use="required" />
        <xsd:attribute name="recommendationPriority" type="xsd:int" />
        <xsd:attribute name="takePoint" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="CrestData" type="CrestData" />
</xsd:schema>
