xsd/sheets/Data.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/Data"
            targetNamespace="https://vezel.dev/novadrop/dc/Data"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="Data">
        <xsd:sequence>
            <xsd:element name="Grade" type="Data_Grade" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Data_Grade">
        <xsd:sequence>
            <xsd:element name="EquipmentData" type="Data_Grade_EquipmentData" />
            <xsd:element name="QuestData" type="Data_Grade_QuestData" />
            <xsd:element name="StartPosition" type="Data_Grade_StartPosition" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="level" type="xsd:int" use="required" />
        <xsd:attribute name="money" type="xsd:int" use="required" />
        <xsd:attribute name="startContinentId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Data_Grade_EquipmentData">
        <xsd:sequence>
            <xsd:element name="Equipment" type="Data_Grade_EquipmentData_Equipment" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Data_Grade_EquipmentData_Equipment">
        <xsd:attribute name="amount" type="xsd:int" use="required" />
        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="initWear" type="xsd:boolean" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Data_Grade_QuestData">
        <xsd:sequence>
            <xsd:element name="Quest" type="Data_Grade_QuestData_Quest" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Data_Grade_QuestData_Quest">
        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="status" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Data_Grade_StartPosition">
        <xsd:sequence>
            <xsd:element name="Position" type="Data_Grade_StartPosition_Position" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Data_Grade_StartPosition_Position">
        <xsd:attribute name="continent" type="xsd:int" use="required" />
        <xsd:attribute name="pos" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="Data" type="Data" />
</xsd:schema>
