xsd/sheets/DecoUI.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/DecoUI"
            targetNamespace="https://vezel.dev/novadrop/dc/DecoUI"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="DecoUI">
        <xsd:sequence>
            <xsd:element name="DecoType" type="DecoUI_DecoType" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DecoUI_DecoType">
        <xsd:sequence>
            <xsd:element name="UIWidget" type="DecoUI_DecoType_UIWidget" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="DecoUI_DecoType_UIWidget">
        <xsd:attribute name="height" type="xsd:float" use="required" />
        <xsd:attribute name="imagePath" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="xsd:int" />
        <xsd:attribute name="viewId" type="xsd:string" use="required" />
        <xsd:attribute name="width" type="xsd:float" use="required" />
        <xsd:attribute name="x" type="xsd:float" use="required" />
        <xsd:attribute name="y" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:element name="DecoUI" type="DecoUI" />
</xsd:schema>
