xsd/sheets/DungeonResonanceBonusCompensationList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/DungeonResonanceBonusCompensationList"
            targetNamespace="https://vezel.dev/novadrop/dc/DungeonResonanceBonusCompensationList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="DungeonResonanceBonusCompensationList">
        <xsd:sequence>
            <xsd:element name="Compensation" type="DungeonResonanceBonusCompensationList_Compensation" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DungeonResonanceBonusCompensationList_Compensation">
        <xsd:sequence>
            <xsd:element name="ItemBag" type="DungeonResonanceBonusCompensationList_Compensation_ItemBag" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DungeonResonanceBonusCompensationList_Compensation_ItemBag">
        <xsd:sequence>
            <xsd:element name="Item" type="DungeonResonanceBonusCompensationList_Compensation_ItemBag_Item" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="bagName" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="DungeonResonanceBonusCompensationList_Compensation_ItemBag_Item">
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="DungeonResonanceBonusCompensationList" type="DungeonResonanceBonusCompensationList" />
</xsd:schema>
