xsd/sheets/Dungeon.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/Dungeon"
            targetNamespace="https://vezel.dev/novadrop/dc/Dungeon"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="Dungeon">
        <xsd:sequence>
            <xsd:element name="ClearCondition" type="Dungeon_ClearCondition" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DPSDisplay" type="Dungeon_DPSDisplay" minOccurs="0" />
            <xsd:element name="EventGroup" type="Dungeon_EventGroup" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RestoreTargetQuest" type="Dungeon_RestoreTargetQuest" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="Retry" type="Dungeon_Retry" minOccurs="0" />
            <xsd:element name="VisibleBGGroup" type="Dungeon_VisibleBGGroup" minOccurs="0" />
        </xsd:sequence>

        <xsd:attribute name="continentId" type="xsd:int" use="required" />
        <xsd:attribute name="enterLimitCount" type="xsd:int" />
        <xsd:attribute name="exitDir" type="xsd:int" />
        <xsd:attribute name="matchingRoleId" type="xsd:int" />
        <xsd:attribute name="scenarioQuestId" type="xsd:string" />
        <xsd:attribute name="scenarioUIOn" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="Dungeon_ClearCondition">
        <xsd:attribute name="amount" type="xsd:int" use="required" />
        <xsd:attribute name="huntingZoneId" type="xsd:int" use="required" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Dungeon_DPSDisplay">
        <xsd:attribute name="cutDigits" type="xsd:int" use="required" />
        <xsd:attribute name="digitStringId" type="xsd:int" use="required" />
        <xsd:attribute name="updateFrequency" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Dungeon_EventGroup">
        <xsd:sequence>
            <xsd:element name="Event" type="Dungeon_EventGroup_Event" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Dungeon_EventGroup_Event">
        <xsd:sequence>
            <xsd:element name="EventTaskGroup" type="Dungeon_EventGroup_Event_EventTaskGroup" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Dungeon_EventGroup_Event_EventTaskGroup">
        <xsd:sequence>
            <xsd:element name="EventTask" type="Dungeon_EventGroup_Event_EventTaskGroup_EventTask" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Dungeon_EventGroup_Event_EventTaskGroup_EventTask">
        <xsd:attribute name="npcHp" type="xsd:int" />
        <xsd:attribute name="targetNpc" type="xsd:string" />
        <xsd:attribute name="timeValue" type="xsd:int" />
        <xsd:attribute name="vlaue" type="xsd:int" />
    </xsd:complexType>

    <xsd:complexType name="Dungeon_RestoreTargetQuest">
        <xsd:attribute name="forceRestore" type="xsd:boolean" />
        <xsd:attribute name="id" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Dungeon_Retry">
        <xsd:attribute name="retryId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Dungeon_VisibleBGGroup">
        <xsd:sequence>
            <xsd:element name="VisibleBG" type="Dungeon_VisibleBGGroup_VisibleBG" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="defaultGroupId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="Dungeon_VisibleBGGroup_VisibleBG">
        <xsd:attribute name="groupId" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="Dungeon" type="Dungeon" />
</xsd:schema>
