xsd/sheets/DungeonResonanceImprintInfo.xsd

<!-- SPDX-License-Identifier: 0BSD -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/DungeonResonanceImprintInfo"
            targetNamespace="https://vezel.dev/novadrop/dc/DungeonResonanceImprintInfo"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="DungeonResonanceImprintInfo">
        <xsd:sequence>
            <xsd:element name="ImprintInfo" type="DungeonResonanceImprintInfo_ImprintInfo" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DungeonResonanceImprintInfo_ImprintInfo">
        <xsd:attribute name="addResonancePassiveId" type="xsd:string" use="required" />
        <xsd:attribute name="resonanceReinforceLevel" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="DungeonResonanceImprintInfo" type="DungeonResonanceImprintInfo" />
</xsd:schema>
