xsd/sheets/DungeonResonanceStatPreset.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/DungeonResonanceStatPreset"
            targetNamespace="https://vezel.dev/novadrop/dc/DungeonResonanceStatPreset"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="DungeonResonanceStatPreset">
        <xsd:sequence>
            <xsd:element name="Preset" type="DungeonResonanceStatPreset_Preset" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DungeonResonanceStatPreset_Preset">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="DungeonResonanceStatPreset" type="DungeonResonanceStatPreset" />
</xsd:schema>
