xsd/sheets/EnvCaseEffectData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/EnvCaseEffectData"
            targetNamespace="https://vezel.dev/novadrop/dc/EnvCaseEffectData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="EnvCaseEffectData">
        <xsd:sequence>
            <xsd:element name="EnvCaseEffect" type="EnvCaseEffectData_EnvCaseEffect" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="animSet" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="EnvCaseEffectData_EnvCaseEffect">
        <xsd:sequence>
            <xsd:element name="Effect" type="EnvCaseEffectData_EnvCaseEffect_Effect" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="animName" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="EnvCaseEffectData_EnvCaseEffect_Effect">
        <xsd:attribute name="boneName" type="xsd:string" use="required" />
        <xsd:attribute name="condition" type="xsd:string" use="required" />
        <xsd:attribute name="detach" type="xsd:boolean" use="required" />
        <xsd:attribute name="playRate" type="xsd:float" use="required" />
        <xsd:attribute name="posX" type="xsd:float" use="required" />
        <xsd:attribute name="posY" type="xsd:float" use="required" />
        <xsd:attribute name="posZ" type="xsd:float" use="required" />
        <xsd:attribute name="rescaleMethod" type="xsd:string" use="required" />
        <xsd:attribute name="rotX" type="xsd:float" use="required" />
        <xsd:attribute name="rotY" type="xsd:float" use="required" />
        <xsd:attribute name="rotZ" type="xsd:float" use="required" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" />
        <xsd:attribute name="scaleY" type="xsd:float" />
        <xsd:attribute name="scaleZ" type="xsd:float" />
        <xsd:attribute name="time" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="EnvCaseEffectData" type="EnvCaseEffectData" />
</xsd:schema>
