xsd/sheets/EnvLoadStatValidationList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/EnvLoadStatValidationList"
            targetNamespace="https://vezel.dev/novadrop/dc/EnvLoadStatValidationList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="EnvLoadStatValidationList">
        <xsd:sequence>
            <xsd:element name="StatList" type="EnvLoadStatValidationList_StatList" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EnvLoadStatValidationList_StatList">
        <xsd:sequence>
            <xsd:element name="Stat" type="EnvLoadStatValidationList_StatList_Stat" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EnvLoadStatValidationList_StatList_Stat">
        <xsd:attribute name="index" type="xsd:int" use="required" />
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="EnvLoadStatValidationList" type="EnvLoadStatValidationList" />
</xsd:schema>
