xsd/sheets/EquipmentEnchantSubItem.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/EquipmentEnchantSubItem"
            targetNamespace="https://vezel.dev/novadrop/dc/EquipmentEnchantSubItem"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="EquipmentEnchantSubItem">
        <xsd:sequence>
            <xsd:element name="DefineEnchantData" type="EquipmentEnchantSubItem_DefineEnchantData" />
            <xsd:element name="DefineSubItem" type="EquipmentEnchantSubItem_DefineSubItem" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EquipmentEnchantSubItem_DefineEnchantData">
        <xsd:sequence>
            <xsd:element name="EnchantData" type="EquipmentEnchantSubItem_DefineEnchantData_EnchantData" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EquipmentEnchantSubItem_DefineEnchantData_EnchantData">
        <xsd:sequence>
            <xsd:element name="Enchant" type="EquipmentEnchantSubItem_DefineEnchantData_EnchantData_Enchant" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="materialEnchantId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="EquipmentEnchantSubItem_DefineEnchantData_EnchantData_Enchant">
        <xsd:attribute name="avoidDamagedAmount" type="xsd:int" />
        <xsd:attribute name="enchantStep" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="EquipmentEnchantSubItem_DefineSubItem">
        <xsd:sequence>
            <xsd:element name="SubItem" type="EquipmentEnchantSubItem_DefineSubItem_SubItem" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EquipmentEnchantSubItem_DefineSubItem_SubItem">
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="EquipmentEnchantSubItem" type="EquipmentEnchantSubItem" />
</xsd:schema>
