xsd/sheets/FatigueConfig.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/FatigueConfig"
            targetNamespace="https://vezel.dev/novadrop/dc/FatigueConfig"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="FatigueConfig">
        <xsd:sequence>
            <xsd:element name="Config" type="FatigueConfig_Config" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FatigueConfig_Config">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="maxProduceFatiguePoint" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="FatigueConfig" type="FatigueConfig" />
</xsd:schema>
