xsd/sheets/FestivalSeason.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/FestivalSeason"
            targetNamespace="https://vezel.dev/novadrop/dc/FestivalSeason"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="FestivalSeason">
        <xsd:sequence>
            <xsd:element name="Festival" type="FestivalSeason_Festival" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FestivalSeason_Festival">
        <xsd:sequence>
            <xsd:element name="AreaList" type="FestivalSeason_Festival_AreaList" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="FestivalSeason_Festival_AreaList">
        <xsd:sequence>
            <xsd:element name="Area" type="FestivalSeason_Festival_AreaList_Area" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FestivalSeason_Festival_AreaList_Area">
        <xsd:attribute name="areaName" type="xsd:string" use="required" />
        <xsd:attribute name="continentId" type="xsd:int" use="required" />
        <xsd:attribute name="newAreaName" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="FestivalSeason" type="FestivalSeason" />
</xsd:schema>
