xsd/sheets/FloatingCastlePartsItem.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/FloatingCastlePartsItem"
            targetNamespace="https://vezel.dev/novadrop/dc/FloatingCastlePartsItem"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="FloatingCastlePartsItem">
        <xsd:sequence>
            <xsd:element name="Item" type="FloatingCastlePartsItem_Item" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FloatingCastlePartsItem_Item">
        <xsd:attribute name="buyMax" type="xsd:int" use="required" />
        <xsd:attribute name="equipSound" type="xsd:string" use="required" />
        <xsd:attribute name="guildCoin" type="xsd:int" use="required" />
        <xsd:attribute name="icon" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="usedSound" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="FloatingCastlePartsItem" type="FloatingCastlePartsItem" />
</xsd:schema>
