xsd/sheets/ForbiddenNameList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ForbiddenNameList"
            targetNamespace="https://vezel.dev/novadrop/dc/ForbiddenNameList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ForbiddenNameList">
        <xsd:sequence>
            <xsd:element name="ForbiddenName" type="ForbiddenNameList_ForbiddenName" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ForbiddenNameList_ForbiddenName">
        <xsd:attribute name="string" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="ForbiddenNameList" type="ForbiddenNameList" />
</xsd:schema>
