xsd/sheets/Gacha.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/Gacha"
            targetNamespace="https://vezel.dev/novadrop/dc/Gacha"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="Gacha">
        <xsd:sequence>
            <xsd:element name="GachaItem" type="Gacha_GachaItem" maxOccurs="unbounded" />
            <xsd:element name="LockboxKey" type="Gacha_LockboxKey" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Gacha_GachaItem">
        <xsd:sequence>
            <xsd:element name="FixedReward" type="Gacha_GachaItem_FixedReward" minOccurs="0" />
            <xsd:element name="RandomReward" type="Gacha_GachaItem_RandomReward" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="memo" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="Gacha_GachaItem_FixedReward">
        <xsd:sequence>
            <xsd:element name="Reward" type="Gacha_GachaItem_FixedReward_Reward" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Gacha_GachaItem_FixedReward_Reward">
        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="count" type="xsd:int" use="required" />
        <xsd:attribute name="featuredProductNotification" type="xsd:boolean" />
        <xsd:attribute name="gender" type="xsd:string" />
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="race" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="Gacha_GachaItem_RandomReward">
        <xsd:sequence>
            <xsd:element name="Reward" type="Gacha_GachaItem_RandomReward_Reward" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="gender" type="xsd:string" />
        <xsd:attribute name="race" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="Gacha_GachaItem_RandomReward_Reward">
        <xsd:attribute name="featuredProductNotification" type="xsd:boolean" />
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="max" type="xsd:int" use="required" />
        <xsd:attribute name="min" type="xsd:int" use="required" />
        <xsd:attribute name="notify" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="Gacha_LockboxKey">
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="lockboxTemplateId" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="Gacha" type="Gacha" />
</xsd:schema>
