xsd/sheets/GambleBoxData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/GambleBoxData"
            targetNamespace="https://vezel.dev/novadrop/dc/GambleBoxData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="GambleBoxData">
        <xsd:sequence>
            <xsd:element name="GambleBox" type="GambleBoxData_GambleBox" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GambleBoxData_GambleBox">
        <xsd:attribute name="animSet" type="xsd:string" use="required" />
        <xsd:attribute name="animTree" type="xsd:string" use="required" />
        <xsd:attribute name="effect" type="xsd:string" use="required" />
        <xsd:attribute name="gambleBoxType" type="xsd:string" use="required" />
        <xsd:attribute name="gambleItemType" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="mesh" type="xsd:string" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="sound" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="GambleBoxData" type="GambleBoxData" />
</xsd:schema>
