xsd/sheets/HeroIdleMotionData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/HeroIdleMotionData"
            targetNamespace="https://vezel.dev/novadrop/dc/HeroIdleMotionData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="HeroIdleMotionData">
        <xsd:sequence>
            <xsd:element name="HeroIdleMotion" type="HeroIdleMotionData_HeroIdleMotion" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HeroIdleMotionData_HeroIdleMotion">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="inWeaponStart" type="xsd:float" use="required" />
        <xsd:attribute name="isWeaponOut" type="xsd:boolean" use="required" />
        <xsd:attribute name="motionName" type="xsd:string" use="required" />
        <xsd:attribute name="outWeaponStart" type="xsd:float" use="required" />
        <xsd:attribute name="weaponScale" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:element name="HeroIdleMotionData" type="HeroIdleMotionData" />
</xsd:schema>
