xsd/sheets/HeroIKControl.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/HeroIKControl"
            targetNamespace="https://vezel.dev/novadrop/dc/HeroIKControl"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="HeroIKControl">
        <xsd:sequence>
            <xsd:element name="Shape" type="HeroIKControl_Shape" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape">
        <xsd:sequence>
            <xsd:element name="DamageMotion" type="HeroIKControl_Shape_DamageMotion" />
            <xsd:element name="FootIK" type="HeroIKControl_Shape_FootIK" />
            <xsd:element name="LookAtcontrol" type="HeroIKControl_Shape_LookAtcontrol" />
            <xsd:element name="WaistAngleControl" type="HeroIKControl_Shape_WaistAngleControl" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_DamageMotion">
        <xsd:sequence>
            <xsd:element name="AttackBone" type="HeroIKControl_Shape_DamageMotion_AttackBone" />
            <xsd:element name="DamageMotionSet" type="HeroIKControl_Shape_DamageMotion_DamageMotionSet" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_DamageMotion_AttackBone">
        <xsd:attribute name="boneName" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_DamageMotion_DamageMotionSet">
        <xsd:sequence>
            <xsd:element name="DamageMotionBounceControl" type="HeroIKControl_Shape_DamageMotion_DamageMotionSet_DamageMotionBounceControl" />
            <xsd:element name="DamageMotionRotateControl" type="HeroIKControl_Shape_DamageMotion_DamageMotionSet_DamageMotionRotateControl" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_DamageMotion_DamageMotionSet_DamageMotionBounceControl">
        <xsd:attribute name="boneName" type="xsd:string" use="required" />
        <xsd:attribute name="down" type="xsd:float" use="required" />
        <xsd:attribute name="duration" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_DamageMotion_DamageMotionSet_DamageMotionRotateControl">
        <xsd:attribute name="blendOutTime" type="xsd:float" use="required" />
        <xsd:attribute name="boneName" type="xsd:string" use="required" />
        <xsd:attribute name="duration" type="xsd:float" use="required" />
        <xsd:attribute name="pitchMax" type="xsd:int" use="required" />
        <xsd:attribute name="pitchMin" type="xsd:int" use="required" />
        <xsd:attribute name="pitchSpeed" type="xsd:float" use="required" />
        <xsd:attribute name="yawImpulse" type="xsd:float" use="required" />
        <xsd:attribute name="yawMax" type="xsd:int" use="required" />
        <xsd:attribute name="yawMin" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_FootIK">
        <xsd:sequence>
            <xsd:element name="FootControl" type="HeroIKControl_Shape_FootIK_FootControl" />
        </xsd:sequence>

        <xsd:attribute name="forDamageMotionBounceOnly" type="xsd:boolean" use="required" />
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_FootIK_FootControl">
        <xsd:attribute name="bendAxis" type="xsd:string" use="required" />
        <xsd:attribute name="blendInTime" type="xsd:float" use="required" />
        <xsd:attribute name="blendOutTime" type="xsd:float" use="required" />
        <xsd:attribute name="boneNames" type="xsd:string" use="required" />
        <xsd:attribute name="enableFootUpDir" type="xsd:boolean" use="required" />
        <xsd:attribute name="invertBendAxis" type="xsd:boolean" use="required" />
        <xsd:attribute name="limitHeight" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_LookAtcontrol">
        <xsd:attribute name="allowRotationX" type="xsd:boolean" use="required" />
        <xsd:attribute name="allowRotationY" type="xsd:boolean" use="required" />
        <xsd:attribute name="allowRotationZ" type="xsd:boolean" use="required" />
        <xsd:attribute name="blendInTime" type="xsd:float" use="required" />
        <xsd:attribute name="blendOutTime" type="xsd:float" use="required" />
        <xsd:attribute name="boneNames" type="xsd:string" use="required" />
        <xsd:attribute name="defineUpAxis" type="xsd:boolean" use="required" />
        <xsd:attribute name="enableLimit" type="xsd:boolean" use="required" />
        <xsd:attribute name="invertLookAtAxis" type="xsd:boolean" use="required" />
        <xsd:attribute name="invertUpAxis" type="xsd:boolean" use="required" />
        <xsd:attribute name="limitBasedOnRefPose" type="xsd:boolean" use="required" />
        <xsd:attribute name="lookAtAxis" type="xsd:string" use="required" />
        <xsd:attribute name="maxAngle" type="xsd:float" use="required" />
        <xsd:attribute name="targetLocationInterpSpeed" type="xsd:float" use="required" />
        <xsd:attribute name="upAxis" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="HeroIKControl_Shape_WaistAngleControl">
        <xsd:attribute name="blendInTime" type="xsd:float" use="required" />
        <xsd:attribute name="blendOutTime" type="xsd:float" use="required" />
        <xsd:attribute name="boneNames" type="xsd:string" use="required" />
        <xsd:attribute name="maxAngleVariation" type="xsd:float" use="required" />
        <xsd:attribute name="maxTargetRadius" type="xsd:float" use="required" />
        <xsd:attribute name="minAngleVariation" type="xsd:float" use="required" />
        <xsd:attribute name="minTargetRadius" type="xsd:float" use="required" />
        <xsd:attribute name="targetRangeAngle" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:element name="HeroIKControl" type="HeroIKControl" />
</xsd:schema>
