xsd/sheets/HeroSkinData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/HeroSkinData"
            targetNamespace="https://vezel.dev/novadrop/dc/HeroSkinData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="HeroSkinData">
        <xsd:sequence>
            <xsd:element name="HeroSkin" type="HeroSkinData_HeroSkin" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HeroSkinData_HeroSkin">
        <xsd:attribute name="classType" type="xsd:int" use="required" />
        <xsd:attribute name="heroSkinStrSheetId" type="xsd:int" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="illustrationPath" type="xsd:string" use="required" />
        <xsd:attribute name="shapeId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="HeroSkinData" type="HeroSkinData" />
</xsd:schema>
