xsd/sheets/ItemConversion.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ItemConversion"
            targetNamespace="https://vezel.dev/novadrop/dc/ItemConversion"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ItemConversion">
        <xsd:sequence>
            <xsd:element name="SeedItem" type="ItemConversion_SeedItem" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ItemConversion_SeedItem">
        <xsd:sequence>
            <xsd:element name="FixedItem" type="ItemConversion_SeedItem_FixedItem" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ResultItemSet" type="ItemConversion_SeedItem_ResultItemSet" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="animSet" type="xsd:string" use="required" />
        <xsd:attribute name="animTree" type="xsd:string" use="required" />
        <xsd:attribute name="failEffectId" type="xsd:int" use="required" />
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="mesh" type="xsd:string" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="successEffectId" type="xsd:int" use="required" />
        <xsd:attribute name="waitEffectId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ItemConversion_SeedItem_FixedItem">
        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="gender" type="xsd:string" />
        <xsd:attribute name="race" type="xsd:string" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ItemConversion_SeedItem_ResultItemSet">
        <xsd:sequence>
            <xsd:element name="FixedItem" type="ItemConversion_SeedItem_ResultItemSet_FixedItem" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ResultItem" type="ItemConversion_SeedItem_ResultItemSet_ResultItem" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ItemConversion_SeedItem_ResultItemSet_FixedItem" />

    <xsd:complexType name="ItemConversion_SeedItem_ResultItemSet_ResultItem" />

    <xsd:element name="ItemConversion" type="ItemConversion" />
</xsd:schema>
