xsd/sheets/ItemExtractRecipe.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ItemExtractRecipe"
            targetNamespace="https://vezel.dev/novadrop/dc/ItemExtractRecipe"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ItemExtractRecipe">
        <xsd:sequence>
            <xsd:element name="Recipe" type="ItemExtractRecipe_Recipe" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ItemExtractRecipe_Recipe">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="needSkillId" type="xsd:int" use="required" />
        <xsd:attribute name="rank" type="xsd:int" use="required" />
        <xsd:attribute name="recipeItemId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="ItemExtractRecipe" type="ItemExtractRecipe" />
</xsd:schema>
