xsd/sheets/ItemIconData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ItemIconData"
            targetNamespace="https://vezel.dev/novadrop/dc/ItemIconData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ItemIconData">
        <xsd:sequence>
            <xsd:element name="Icon" type="ItemIconData_Icon" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ItemIconData_Icon">
        <xsd:attribute name="iconName" type="xsd:string" use="required" />
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="ItemIconData" type="ItemIconData" />
</xsd:schema>
