xsd/sheets/JumpGearEffectData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/JumpGearEffectData"
            targetNamespace="https://vezel.dev/novadrop/dc/JumpGearEffectData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="JumpGearEffectData">
        <xsd:sequence>
            <xsd:element name="JumpGearEffect" type="JumpGearEffectData_JumpGearEffect" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JumpGearEffectData_JumpGearEffect">
        <xsd:sequence>
            <xsd:element name="State" type="JumpGearEffectData_JumpGearEffect_State" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="JumpGearEffectData_JumpGearEffect_State">
        <xsd:sequence>
            <xsd:element name="EffectData" type="JumpGearEffectData_JumpGearEffect_State_EffectData" />
            <xsd:element name="SoundData" type="JumpGearEffectData_JumpGearEffect_State_SoundData" />
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="JumpGearEffectData_JumpGearEffect_State_EffectData">
        <xsd:sequence>
            <xsd:element name="Effect" type="JumpGearEffectData_JumpGearEffect_State_EffectData_Effect" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JumpGearEffectData_JumpGearEffect_State_EffectData_Effect">
        <xsd:attribute name="absoluteRate" type="xsd:boolean" use="required" />
        <xsd:attribute name="bChangeAbleScaleByRange" type="xsd:boolean" />
        <xsd:attribute name="bGround" type="xsd:boolean" use="required" />
        <xsd:attribute name="boneName" type="xsd:string" use="required" />
        <xsd:attribute name="detach" type="xsd:boolean" use="required" />
        <xsd:attribute name="playRate" type="xsd:float" use="required" />
        <xsd:attribute name="posX" type="xsd:float" use="required" />
        <xsd:attribute name="posY" type="xsd:float" use="required" />
        <xsd:attribute name="posZ" type="xsd:float" use="required" />
        <xsd:attribute name="rescaleMethod" type="xsd:string" use="required" />
        <xsd:attribute name="resource" type="xsd:string" use="required" />
        <xsd:attribute name="rotX" type="xsd:float" use="required" />
        <xsd:attribute name="rotY" type="xsd:float" use="required" />
        <xsd:attribute name="rotZ" type="xsd:float" use="required" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" use="required" />
        <xsd:attribute name="scaleY" type="xsd:float" use="required" />
        <xsd:attribute name="scaleZ" type="xsd:float" use="required" />
        <xsd:attribute name="stageIndex" type="xsd:int" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
        <xsd:attribute name="subBoneName" type="xsd:string" />
        <xsd:attribute name="subBoneName2" type="xsd:string" />
        <xsd:attribute name="worldSpawn" type="xsd:boolean" use="required" />
    </xsd:complexType>

    <xsd:complexType name="JumpGearEffectData_JumpGearEffect_State_SoundData">
        <xsd:sequence>
            <xsd:element name="Sound" type="JumpGearEffectData_JumpGearEffect_State_SoundData_Sound" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JumpGearEffectData_JumpGearEffect_State_SoundData_Sound">
        <xsd:attribute name="isLoop" type="xsd:boolean" use="required" />
        <xsd:attribute name="soundcue" type="xsd:string" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="JumpGearEffectData" type="JumpGearEffectData" />
</xsd:schema>
