xsd/sheets/KeyGuide.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/KeyGuide"
            targetNamespace="https://vezel.dev/novadrop/dc/KeyGuide"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="KeyGuide">
        <xsd:sequence>
            <xsd:element name="ConditionList" type="KeyGuide_ConditionList" maxOccurs="unbounded" />
            <xsd:element name="Guide" type="KeyGuide_Guide" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="KeyGuide_ConditionList">
        <xsd:sequence>
            <xsd:element name="Condition" type="KeyGuide_ConditionList_Condition" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="KeyGuide_ConditionList_Condition">
        <xsd:attribute name="subValue" type="xsd:int" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="value" type="xsd:int" />
    </xsd:complexType>

    <xsd:complexType name="KeyGuide_Guide"
                     dc:keys="id">
        <xsd:sequence>
            <xsd:element name="Action" type="KeyGuide_Guide_Action" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="interval" type="xsd:float" use="required" />
        <xsd:attribute name="needCheckCoolTime" type="xsd:boolean" />
        <xsd:attribute name="preDelay" type="xsd:float" />
        <xsd:attribute name="priority" type="xsd:int" use="required" />
        <xsd:attribute name="stringId" type="xsd:int" use="required" />
        <xsd:attribute name="time" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="KeyGuide_Guide_Action"
                     dc:keys="step">
        <xsd:attribute name="actionTime" type="xsd:float" use="required" />
        <xsd:attribute name="inputKeyValue" type="xsd:string" />
        <xsd:attribute name="inputSkillValue" type="xsd:string" />
        <xsd:attribute name="inputTime" type="xsd:float" />
        <xsd:attribute name="nextStep" type="xsd:int" use="required" />
        <xsd:attribute name="prevStep" type="xsd:int" use="required" />
        <xsd:attribute name="showSkillIcon" type="xsd:boolean" use="required" />
        <xsd:attribute name="step" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="KeyGuide" type="KeyGuide" />
</xsd:schema>
