xsd/sheets/LoadingImageData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/LoadingImageData"
            targetNamespace="https://vezel.dev/novadrop/dc/LoadingImageData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="LoadingImageData">
        <xsd:sequence>
            <xsd:element name="Group" type="LoadingImageData_Group" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LoadingImageData_Group">
        <xsd:sequence>
            <xsd:element name="LoadingImage" type="LoadingImageData_Group_LoadingImage" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="LoadingImageData_Group_LoadingImage">
        <xsd:sequence>
            <xsd:element name="Image" type="LoadingImageData_Group_LoadingImage_Image" />
            <xsd:element name="Text" type="LoadingImageData_Group_LoadingImage_Text" />
        </xsd:sequence>

        <xsd:attribute name="enterContinent" type="xsd:int" />
        <xsd:attribute name="exitContinent" type="xsd:int" />
        <xsd:attribute name="priority" type="xsd:int" />
        <xsd:attribute name="progressQuest" type="xsd:string" />
        <xsd:attribute name="rate" type="xsd:float" />
    </xsd:complexType>

    <xsd:complexType name="LoadingImageData_Group_LoadingImage_Image">
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="LoadingImageData_Group_LoadingImage_Text">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="LoadingImageData" type="LoadingImageData" />
</xsd:schema>
