xsd/sheets/MarkerColorSetting.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/MarkerColorSetting"
            targetNamespace="https://vezel.dev/novadrop/dc/MarkerColorSetting"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="MarkerColorSetting">
        <xsd:sequence>
            <xsd:element name="Marker" type="MarkerColorSetting_Marker" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MarkerColorSetting_Marker">
        <xsd:attribute name="blue" type="xsd:int" use="required" />
        <xsd:attribute name="green" type="xsd:int" use="required" />
        <xsd:attribute name="priority" type="xsd:int" use="required" />
        <xsd:attribute name="red" type="xsd:int" use="required" />
        <xsd:attribute name="stringId" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="MarkerColorSetting" type="MarkerColorSetting" />
</xsd:schema>
