xsd/sheets/MaterialRepairData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/MaterialRepairData"
            targetNamespace="https://vezel.dev/novadrop/dc/MaterialRepairData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="MaterialRepairData">
        <xsd:sequence>
            <xsd:element name="ItemRepair" type="MaterialRepairData_ItemRepair" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MaterialRepairData_ItemRepair">
        <xsd:sequence>
            <xsd:element name="MaterialItem" type="MaterialRepairData_ItemRepair_MaterialItem" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="materialRepairId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="MaterialRepairData_ItemRepair_MaterialItem">
        <xsd:attribute name="enchantStep" type="xsd:int" />
    </xsd:complexType>

    <xsd:element name="MaterialRepairData" type="MaterialRepairData" />
</xsd:schema>
