xsd/sheets/MiniGameRankRecorder.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/MiniGameRankRecorder"
            targetNamespace="https://vezel.dev/novadrop/dc/MiniGameRankRecorder"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="MiniGameRankRecorder">
        <xsd:sequence>
            <xsd:element name="MiniGameRank" type="MiniGameRankRecorder_MiniGameRank" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MiniGameRankRecorder_MiniGameRank">
        <xsd:sequence>
            <xsd:element name="StageData" type="MiniGameRankRecorder_MiniGameRank_StageData" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="MiniGameRankRecorder_MiniGameRank_StageData">
        <xsd:sequence>
            <xsd:element name="Stage" type="MiniGameRankRecorder_MiniGameRank_StageData_Stage" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MiniGameRankRecorder_MiniGameRank_StageData_Stage">
        <xsd:attribute name="minPoint" type="xsd:int" use="required" />
        <xsd:attribute name="result" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="MiniGameRankRecorder" type="MiniGameRankRecorder" />
</xsd:schema>
