xsd/sheets/MovieData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/MovieData"
            targetNamespace="https://vezel.dev/novadrop/dc/MovieData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="MovieData">
        <xsd:sequence>
            <xsd:element name="MovieGroup" type="MovieData_MovieGroup" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MovieData_MovieGroup">
        <xsd:sequence>
            <xsd:element name="Movie" type="MovieData_MovieGroup_Movie" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="MovieData_MovieGroup_Movie">
        <xsd:attribute name="cannotSkip" type="xsd:boolean" />
        <xsd:attribute name="gameFadeOutTime" type="xsd:float" use="required" />
        <xsd:attribute name="isMatinee" type="xsd:boolean" use="required" />
        <xsd:attribute name="movie" type="xsd:string" use="required" />
        <xsd:attribute name="requiredClass" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="MovieData" type="MovieData" />
</xsd:schema>
