xsd/sheets/NewWorldMapData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/NewWorldMapData"
            targetNamespace="https://vezel.dev/novadrop/dc/NewWorldMapData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="NewWorldMapData">
        <xsd:sequence>
            <xsd:element name="World" type="NewWorldMapData_World" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NewWorldMapData_World">
        <xsd:sequence>
            <xsd:element name="Continent" type="NewWorldMapData_World_Continent" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="Guard" type="NewWorldMapData_World_Guard" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="mapId" type="xsd:string" />
        <xsd:attribute name="nameId" type="xsd:int" />
        <xsd:attribute name="scale" type="xsd:float" />
    </xsd:complexType>

    <xsd:complexType name="NewWorldMapData_World_Continent">
        <xsd:attribute name="centerPixelX" type="xsd:int" use="required" />
        <xsd:attribute name="centerPixelY" type="xsd:int" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="NewWorldMapData_World_Guard">
        <xsd:sequence>
            <xsd:element name="Section" type="NewWorldMapData_World_Guard_Section" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="height" type="xsd:float" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="left" type="xsd:float" />
        <xsd:attribute name="mapId" type="xsd:string" />
        <xsd:attribute name="mode" type="xsd:int" />
        <xsd:attribute name="nameId" type="xsd:int" />
        <xsd:attribute name="top" type="xsd:float" />
        <xsd:attribute name="visibleInMap" type="xsd:boolean" />
        <xsd:attribute name="width" type="xsd:float" />
    </xsd:complexType>

    <xsd:complexType name="NewWorldMapData_World_Guard_Section">
        <xsd:sequence>
            <xsd:element name="Npc" type="NewWorldMapData_World_Guard_Section_Npc" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="floor" type="xsd:int" use="required" />
        <xsd:attribute name="height" type="xsd:float" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="left" type="xsd:float" use="required" />
        <xsd:attribute name="mapId" type="xsd:string" />
        <xsd:attribute name="mode" type="xsd:int" />
        <xsd:attribute name="nameId" type="xsd:int" use="required" />
        <xsd:attribute name="top" type="xsd:float" use="required" />
        <xsd:attribute name="type" type="xsd:string" />
        <xsd:attribute name="visibleInMap" type="xsd:boolean" />
        <xsd:attribute name="width" type="xsd:float" />
    </xsd:complexType>

    <xsd:complexType name="NewWorldMapData_World_Guard_Section_Npc">
        <xsd:attribute name="continentId" type="xsd:int" use="required" />
        <xsd:attribute name="nameId" type="xsd:string" use="required" />
        <xsd:attribute name="pos" type="xsd:string" use="required" />
        <xsd:attribute name="showRequireQuestTaskId" type="xsd:int" />
        <xsd:attribute name="showRequireQuestTemplateId" type="xsd:int" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="NewWorldMapData" type="NewWorldMapData" />
</xsd:schema>
