xsd/sheets/NpcMovingLightData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/NpcMovingLightData"
            targetNamespace="https://vezel.dev/novadrop/dc/NpcMovingLightData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="NpcMovingLightData">
        <xsd:sequence>
            <xsd:element name="LightList" type="NpcMovingLightData_LightList" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NpcMovingLightData_LightList">
        <xsd:sequence>
            <xsd:element name="Light" type="NpcMovingLightData_LightList_Light" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="huntingZone" type="xsd:int" use="required" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="NpcMovingLightData_LightList_Light">
        <xsd:attribute name="resourceName" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="NpcMovingLightData" type="NpcMovingLightData" />
</xsd:schema>
