xsd/sheets/NpcPartEffectData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/NpcPartEffectData"
            targetNamespace="https://vezel.dev/novadrop/dc/NpcPartEffectData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="NpcPartEffectData">
        <xsd:sequence>
            <xsd:element name="EffectInfo" type="NpcPartEffectData_EffectInfo" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="huntingZoneId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="NpcPartEffectData_EffectInfo">
        <xsd:sequence>
            <xsd:element name="BreakEffectList" type="NpcPartEffectData_EffectInfo_BreakEffectList" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="npcTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="partId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="NpcPartEffectData_EffectInfo_BreakEffectList">
        <xsd:sequence>
            <xsd:element name="Effect" type="NpcPartEffectData_EffectInfo_BreakEffectList_Effect" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="NpcPartEffectData_EffectInfo_BreakEffectList_Effect">
        <xsd:attribute name="bGround" type="xsd:boolean" use="required" />
        <xsd:attribute name="boneName" type="xsd:string" use="required" />
        <xsd:attribute name="detach" type="xsd:boolean" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="playRate" type="xsd:float" use="required" />
        <xsd:attribute name="posX" type="xsd:float" use="required" />
        <xsd:attribute name="posY" type="xsd:float" use="required" />
        <xsd:attribute name="posZ" type="xsd:float" use="required" />
        <xsd:attribute name="rescaleMethod" type="xsd:string" use="required" />
        <xsd:attribute name="resource" type="xsd:string" use="required" />
        <xsd:attribute name="rotX" type="xsd:float" use="required" />
        <xsd:attribute name="rotY" type="xsd:float" use="required" />
        <xsd:attribute name="rotZ" type="xsd:float" use="required" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" use="required" />
        <xsd:attribute name="scaleY" type="xsd:float" use="required" />
        <xsd:attribute name="scaleZ" type="xsd:float" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="worldSpawn" type="xsd:boolean" use="required" />
    </xsd:complexType>

    <xsd:element name="NpcPartEffectData" type="NpcPartEffectData" />
</xsd:schema>
