xsd/sheets/OverlayEffects.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/OverlayEffects"
            targetNamespace="https://vezel.dev/novadrop/dc/OverlayEffects"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="OverlayEffects">
        <xsd:sequence>
            <xsd:element name="OverlayFx" type="OverlayEffects_OverlayFx" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OverlayEffects_OverlayFx">
        <xsd:attribute name="blendIn" type="xsd:int" use="required" />
        <xsd:attribute name="blendOut" type="xsd:int" use="required" />
        <xsd:attribute name="color" type="xsd:string" use="required" />
        <xsd:attribute name="displayTime" type="xsd:int" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="map" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="OverlayEffects" type="OverlayEffects" />
</xsd:schema>
