xsd/sheets/PCCustomizeRecommendation.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/PCCustomizeRecommendation"
            targetNamespace="https://vezel.dev/novadrop/dc/PCCustomizeRecommendation"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="PCCustomizeRecommendation">
        <xsd:sequence>
            <xsd:element name="PresetList" type="PCCustomizeRecommendation_PresetList" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PCCustomizeRecommendation_PresetList">
        <xsd:sequence>
            <xsd:element name="Preset" type="PCCustomizeRecommendation_PresetList_Preset" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="gender" type="xsd:string" use="required" />
        <xsd:attribute name="race" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="PCCustomizeRecommendation_PresetList_Preset">
        <xsd:sequence>
            <xsd:element name="CustomData" type="PCCustomizeRecommendation_PresetList_Preset_CustomData" />
            <xsd:element name="FigureDataList" type="PCCustomizeRecommendation_PresetList_Preset_FigureDataList" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="PCCustomizeRecommendation_PresetList_Preset_CustomData">
        <xsd:attribute name="attachment" type="xsd:int" use="required" />
        <xsd:attribute name="face" type="xsd:int" use="required" />
        <xsd:attribute name="hair" type="xsd:int" use="required" />
        <xsd:attribute name="hairTone" type="xsd:int" use="required" />
        <xsd:attribute name="makeup" type="xsd:int" use="required" />
        <xsd:attribute name="skinTone" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="PCCustomizeRecommendation_PresetList_Preset_FigureDataList">
        <xsd:sequence>
            <xsd:element name="FigureData" type="PCCustomizeRecommendation_PresetList_Preset_FigureDataList_FigureData" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PCCustomizeRecommendation_PresetList_Preset_FigureDataList_FigureData">
        <xsd:attribute name="sliderId" type="xsd:int" use="required" />
        <xsd:attribute name="value" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:element name="PCCustomizeRecommendation" type="PCCustomizeRecommendation" />
</xsd:schema>
