xsd/sheets/QuestTaskItemIcon.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/QuestTaskItemIcon"
            targetNamespace="https://vezel.dev/novadrop/dc/QuestTaskItemIcon"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="QuestTaskItemIcon">
        <xsd:sequence>
            <xsd:element name="QuestItemIcon" type="QuestTaskItemIcon_QuestItemIcon" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuestTaskItemIcon_QuestItemIcon">
        <xsd:attribute name="backupItem" type="xsd:boolean" />
        <xsd:attribute name="itemTemplateId" type="xsd:string" use="required" />
        <xsd:attribute name="questId" type="xsd:int" use="required" />
        <xsd:attribute name="taskId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="QuestTaskItemIcon" type="QuestTaskItemIcon" />
</xsd:schema>
