xsd/sheets/QuestCompensationData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/QuestCompensationData"
            targetNamespace="https://vezel.dev/novadrop/dc/QuestCompensationData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="QuestCompensationData">
        <xsd:sequence>
            <xsd:element name="Quest" type="QuestCompensationData_Quest" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuestCompensationData_Quest">
        <xsd:sequence>
            <xsd:element name="Compensation" type="QuestCompensationData_Quest_Compensation" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="questId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="QuestCompensationData_Quest_Compensation">
        <xsd:sequence>
            <xsd:element name="CompensationType" type="QuestCompensationData_Quest_Compensation_CompensationType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuestCompensationData_Quest_Compensation_CompensationType">
        <xsd:sequence>
            <xsd:element name="Item" type="QuestCompensationData_Quest_Compensation_CompensationType_Item" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="Skill" type="QuestCompensationData_Quest_Compensation_CompensationType_Skill" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="exp" type="xsd:string" />
        <xsd:attribute name="gold" type="xsd:int" />
        <xsd:attribute name="itemBag" type="xsd:string" />
        <xsd:attribute name="memo" type="xsd:string" />
        <xsd:attribute name="npcGuildId" type="xsd:int" />
        <xsd:attribute name="policyPoint" type="xsd:int" />
        <xsd:attribute name="reputationExp" type="xsd:int" />
        <xsd:attribute name="reputationPoint" type="xsd:int" />
        <xsd:attribute name="skillPolishingExp" type="xsd:int" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="QuestCompensationData_Quest_Compensation_CompensationType_Item">
        <xsd:attribute name="class" type="xsd:string" />
        <xsd:attribute name="quantity" type="xsd:int" use="required" />
        <xsd:attribute name="race" type="xsd:string" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="QuestCompensationData_Quest_Compensation_CompensationType_Skill">
        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="gender" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isActive" type="xsd:boolean" use="required" />
        <xsd:attribute name="race" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="QuestCompensationData" type="QuestCompensationData" />
</xsd:schema>
