xsd/sheets/RandomOptionChangeData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/RandomOptionChangeData"
            targetNamespace="https://vezel.dev/novadrop/dc/RandomOptionChangeData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="RandomOptionChangeData">
        <xsd:sequence>
            <xsd:element name="Token" type="RandomOptionChangeData_Token" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RandomOptionChangeData_Token">
        <xsd:sequence>
            <xsd:element name="ChangeGroup" type="RandomOptionChangeData_Token_ChangeGroup" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="conditionEquip" type="xsd:boolean" use="required" />
        <xsd:attribute name="itemAmount" type="xsd:int" use="required" />
        <xsd:attribute name="itemType" type="xsd:string" use="required" />
        <xsd:attribute name="lockAdditionItemAmount" type="xsd:int" />
        <xsd:attribute name="lockAdditionItemId" type="xsd:int" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="RandomOptionChangeData_Token_ChangeGroup">
        <xsd:sequence>
            <xsd:element name="Result" type="RandomOptionChangeData_Token_ChangeGroup_Result" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="targetTemplateId" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="RandomOptionChangeData_Token_ChangeGroup_Result">
        <xsd:attribute name="itemTemplateId" type="xsd:int" use="required" />
        <xsd:attribute name="prob" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="RandomOptionChangeData" type="RandomOptionChangeData" />
</xsd:schema>
