xsd/sheets/RandomEquipmentPassivity.xsd

<!-- SPDX-License-Identifier: 0BSD -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/RandomEquipmentPassivity"
            targetNamespace="https://vezel.dev/novadrop/dc/RandomEquipmentPassivity"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="RandomEquipmentPassivity">
        <xsd:sequence>
            <xsd:element name="Group" type="RandomEquipmentPassivity_Group" maxOccurs="unbounded" />
            <xsd:element name="Passive" type="RandomEquipmentPassivity_Passive" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RandomEquipmentPassivity_Group">
        <xsd:sequence>
            <xsd:element name="Passive" type="RandomEquipmentPassivity_Group_Passive" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="RandomEquipmentPassivity_Group_Passive">
        <xsd:attribute name="combineId" type="xsd:int" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="subPassive" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="RandomEquipmentPassivity_Passive">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="method" type="xsd:int" use="required" />
        <xsd:attribute name="prob" type="xsd:string" use="required" />
        <xsd:attribute name="tickInterval" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:int" use="required" />
        <xsd:attribute name="value" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="RandomEquipmentPassivity" type="RandomEquipmentPassivity" />
</xsd:schema>
