xsd/sheets/ReplayMovie.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ReplayMovie"
            targetNamespace="https://vezel.dev/novadrop/dc/ReplayMovie"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ReplayMovie">
        <xsd:sequence>
            <xsd:element name="MovieGroup" type="ReplayMovie_MovieGroup" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReplayMovie_MovieGroup">
        <xsd:sequence>
            <xsd:element name="Movie" type="ReplayMovie_MovieGroup_Movie" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ReplayMovie_MovieGroup_Movie">
        <xsd:attribute name="continentId" type="xsd:int" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="image" type="xsd:string" use="required" />
        <xsd:attribute name="pos" type="xsd:string" />
        <xsd:attribute name="title" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="ReplayMovie" type="ReplayMovie" />
</xsd:schema>
