xsd/sheets/ServantAdventureLevelConfig.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ServantAdventureLevelConfig"
            targetNamespace="https://vezel.dev/novadrop/dc/ServantAdventureLevelConfig"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ServantAdventureLevelConfig">
        <xsd:sequence>
            <xsd:element name="Servant" type="ServantAdventureLevelConfig_Servant" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ServantAdventureLevelConfig_Servant">
        <xsd:attribute name="grade" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="ServantAdventureLevelConfig" type="ServantAdventureLevelConfig" />
</xsd:schema>
