xsd/sheets/ShortcutSetList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/ShortcutSetList"
            targetNamespace="https://vezel.dev/novadrop/dc/ShortcutSetList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="ShortcutSetList">
        <xsd:sequence>
            <xsd:element name="ShortcutSet" type="ShortcutSetList_ShortcutSet" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ShortcutSetList_ShortcutSet">
        <xsd:sequence>
            <xsd:element name="Shortcut" type="ShortcutSetList_ShortcutSet_Shortcut" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="checkMySkill" type="xsd:boolean" />
        <xsd:attribute name="crossHairAimDistance" type="xsd:float" />
        <xsd:attribute name="crossHairMode" type="xsd:string" />
        <xsd:attribute name="huntingZoneId" type="xsd:int" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="needSaveIndex" type="xsd:boolean" />
        <xsd:attribute name="shortcutLock" type="xsd:boolean" use="required" />
        <xsd:attribute name="shortcutMode" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ShortcutSetList_ShortcutSet_Shortcut">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isHide" type="xsd:boolean" />
        <xsd:attribute name="replacePosOfUsedSkill" type="xsd:boolean" />
        <xsd:attribute name="shortcutIndex" type="xsd:int" use="required" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="ShortcutSetList" type="ShortcutSetList" />
</xsd:schema>
