xsd/sheets/SkillToolTipChain.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/SkillToolTipChain"
            targetNamespace="https://vezel.dev/novadrop/dc/SkillToolTipChain"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="SkillToolTipChain">
        <xsd:sequence>
            <xsd:element name="ToolTip" type="SkillToolTipChain_ToolTip" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SkillToolTipChain_ToolTip">
        <xsd:sequence>
            <xsd:element name="Chain" type="SkillToolTipChain_ToolTip_Chain" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="SkillToolTipChain_ToolTip_Chain">
        <xsd:attribute name="nextSkillCategoryId" type="xsd:string" use="required" />
        <xsd:attribute name="skillCategoryId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="SkillToolTipChain" type="SkillToolTipChain" />
</xsd:schema>
