xsd/sheets/StrSheet_ClassEnhanceEffect.xsd

<!-- SPDX-License-Identifier: 0BSD -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/StrSheet_ClassEnhanceEffect"
            targetNamespace="https://vezel.dev/novadrop/dc/StrSheet_ClassEnhanceEffect"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="StrSheet_ClassEnhanceEffect">
        <xsd:sequence>
            <xsd:element name="String" type="StrSheet_ClassEnhanceEffect_String" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StrSheet_ClassEnhanceEffect_String">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="innerName" type="xsd:string" use="required" />
        <xsd:attribute name="level" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="tooltip" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="StrSheet_ClassEnhanceEffect" type="StrSheet_ClassEnhanceEffect" />
</xsd:schema>
