xsd/sheets/StrSheet_NpcLoc.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/StrSheet_NpcLoc"
            targetNamespace="https://vezel.dev/novadrop/dc/StrSheet_NpcLoc"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="StrSheet_NpcLoc">
        <xsd:sequence>
            <xsd:element name="String" type="StrSheet_NpcLoc_String" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StrSheet_NpcLoc_String"
                     dc:keys="huntingZoneId templateId">
        <xsd:attribute name="huntingZoneId" type="xsd:int" use="required" />
        <xsd:attribute name="string" type="xsd:string" use="required" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="StrSheet_NpcLoc" type="StrSheet_NpcLoc" />
</xsd:schema>
