xsd/sheets/StrSheet_ActPoint.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/StrSheet_ActPoint"
            targetNamespace="https://vezel.dev/novadrop/dc/StrSheet_ActPoint"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="StrSheet_ActPoint">
        <xsd:sequence>
            <xsd:element name="String" type="StrSheet_ActPoint_String" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StrSheet_ActPoint_String">
        <xsd:attribute name="desc" type="xsd:string" use="required" />
        <xsd:attribute name="readableId" type="xsd:string" use="required" />
        <xsd:attribute name="showWhenDeactive" type="xsd:boolean" />
        <xsd:attribute name="title" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="StrSheet_ActPoint" type="StrSheet_ActPoint" />
</xsd:schema>
