xsd/sheets/StyleCostumeData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/StyleCostumeData"
            targetNamespace="https://vezel.dev/novadrop/dc/StyleCostumeData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="StyleCostumeData">
        <xsd:sequence>
            <xsd:element name="StyleCostume" type="StyleCostumeData_StyleCostume" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StyleCostumeData_StyleCostume">
        <xsd:attribute name="bodyLookInfoId" type="xsd:int" use="required" />
        <xsd:attribute name="feetLookInfoId" type="xsd:int" use="required" />
        <xsd:attribute name="handLookInfoId" type="xsd:int" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="StyleCostumeData" type="StyleCostumeData" />
</xsd:schema>
