xsd/sheets/StyleShopSound.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/StyleShopSound"
            targetNamespace="https://vezel.dev/novadrop/dc/StyleShopSound"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="StyleShopSound">
        <xsd:sequence>
            <xsd:element name="EffectSound" type="StyleShopSound_EffectSound" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StyleShopSound_EffectSound">
        <xsd:sequence>
            <xsd:element name="Sound" type="StyleShopSound_EffectSound_Sound" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StyleShopSound_EffectSound_Sound">
        <xsd:attribute name="desc" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="StyleShopSound" type="StyleShopSound" />
</xsd:schema>
