xsd/sheets/SwimmingTerritory.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/SwimmingTerritory"
            targetNamespace="https://vezel.dev/novadrop/dc/SwimmingTerritory"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="SwimmingTerritory">
        <xsd:sequence>
            <xsd:element name="Territory" type="SwimmingTerritory_Territory" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="SwimmingTerritory_Territory">
        <xsd:attribute name="id" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="SwimmingTerritory" type="SwimmingTerritory" />
</xsd:schema>
