xsd/sheets/TeleportData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/TeleportData"
            targetNamespace="https://vezel.dev/novadrop/dc/TeleportData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="TeleportData">
        <xsd:sequence>
            <xsd:element name="TeleportList" type="TeleportData_TeleportList" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TeleportData_TeleportList">
        <xsd:sequence>
            <xsd:element name="Teleport" type="TeleportData_TeleportList_Teleport" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TeleportData_TeleportList_Teleport">
        <xsd:sequence>
            <xsd:element name="Condition" type="TeleportData_TeleportList_Teleport_Condition" minOccurs="0" />
        </xsd:sequence>

        <xsd:attribute name="continentId" type="xsd:int" use="required" />
        <xsd:attribute name="stringId" type="xsd:string" use="required" />
        <xsd:attribute name="uniqueId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="TeleportData_TeleportList_Teleport_Condition">
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="value" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:element name="TeleportData" type="TeleportData" />
</xsd:schema>
