xsd/sheets/TradeBrokerCategory.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/TradeBrokerCategory"
            targetNamespace="https://vezel.dev/novadrop/dc/TradeBrokerCategory"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="TradeBrokerCategory">
        <xsd:sequence>
            <xsd:element name="Category" type="TradeBrokerCategory_Category" maxOccurs="unbounded" />
            <xsd:element name="OptionCategory" type="TradeBrokerCategory_OptionCategory" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TradeBrokerCategory_Category">
        <xsd:attribute name="desc" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="pos" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="TradeBrokerCategory_OptionCategory">
        <xsd:attribute name="desc" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="TradeBrokerCategory" type="TradeBrokerCategory" />
</xsd:schema>
