xsd/sheets/UIState.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/UIState"
            targetNamespace="https://vezel.dev/novadrop/dc/UIState"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="UIState">
        <xsd:sequence>
            <xsd:element name="UI" type="UIState_UI" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UIState_UI">
        <xsd:sequence>
            <xsd:element name="Contents" type="UIState_UI_Contents" />
            <xsd:element name="Move" type="UIState_UI_Move" />
            <xsd:element name="Vehicle" type="UIState_UI_Vehicle" />
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="UIState_UI_Contents">
        <xsd:attribute name="process" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="UIState_UI_Move">
        <xsd:attribute name="climb" type="xsd:string" use="required" />
        <xsd:attribute name="fall" type="xsd:string" use="required" />
        <xsd:attribute name="move" type="xsd:string" use="required" />
        <xsd:attribute name="shuttle" type="xsd:string" use="required" />
        <xsd:attribute name="swim" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="UIState_UI_Vehicle">
        <xsd:attribute name="horse" type="xsd:string" use="required" />
        <xsd:attribute name="pegasus" type="xsd:string" use="required" />
        <xsd:attribute name="vehicleEx" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="UIState" type="UIState" />
</xsd:schema>
