xsd/sheets/UnarmedWeaponOffsetCustomizeList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/UnarmedWeaponOffsetCustomizeList"
            targetNamespace="https://vezel.dev/novadrop/dc/UnarmedWeaponOffsetCustomizeList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="UnarmedWeaponOffsetCustomizeList">
        <xsd:sequence>
            <xsd:element name="UnarmedWeaponOffsetCustomize" type="UnarmedWeaponOffsetCustomizeList_UnarmedWeaponOffsetCustomize" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UnarmedWeaponOffsetCustomizeList_UnarmedWeaponOffsetCustomize">
        <xsd:sequence>
            <xsd:element name="WeaponSetting" type="UnarmedWeaponOffsetCustomizeList_UnarmedWeaponOffsetCustomize_WeaponSetting" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="UnarmedWeaponOffsetCustomizeList_UnarmedWeaponOffsetCustomize_WeaponSetting">
        <xsd:attribute name="offsetX" type="xsd:float" use="required" />
        <xsd:attribute name="offsetY" type="xsd:float" use="required" />
        <xsd:attribute name="offsetZ" type="xsd:float" use="required" />
        <xsd:attribute name="pitch" type="xsd:float" use="required" />
        <xsd:attribute name="roll" type="xsd:float" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" use="required" />
        <xsd:attribute name="scaleY" type="xsd:float" use="required" />
        <xsd:attribute name="scaleZ" type="xsd:float" use="required" />
        <xsd:attribute name="weaponMeshName" type="xsd:string" use="required" />
        <xsd:attribute name="yaw" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:element name="UnarmedWeaponOffsetCustomizeList" type="UnarmedWeaponOffsetCustomizeList" />
</xsd:schema>
