xsd/sheets/VehicleData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/VehicleData"
            targetNamespace="https://vezel.dev/novadrop/dc/VehicleData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="VehicleData">
        <xsd:sequence>
            <xsd:element name="Vehicle" type="VehicleData_Vehicle" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="VehicleData_Vehicle">
        <xsd:sequence>
            <xsd:element name="AddShape" type="VehicleData_Vehicle_AddShape" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="GuildLogo" type="VehicleData_Vehicle_GuildLogo" minOccurs="0" />
            <xsd:element name="RaceOverride" type="VehicleData_Vehicle_RaceOverride" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="animTypeName" type="xsd:string" use="required" />
        <xsd:attribute name="basicActionId" type="xsd:int" use="required" />
        <xsd:attribute name="disableJump" type="xsd:boolean" />
        <xsd:attribute name="enablePhysics" type="xsd:boolean" />
        <xsd:attribute name="flyChangeDirectionSound" type="xsd:string" />
        <xsd:attribute name="flyRider" type="xsd:boolean" />
        <xsd:attribute name="flyingDataId" type="xsd:int" />
        <xsd:attribute name="groundBoostId" type="xsd:int" />
        <xsd:attribute name="hideRider" type="xsd:boolean" />
        <xsd:attribute name="hideWeapon" type="xsd:boolean" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="isTransFormAndVisible" type="xsd:boolean" />
        <xsd:attribute name="isTransFormVehicle" type="xsd:boolean" />
        <xsd:attribute name="mountAngle" type="xsd:float" use="required" />
        <xsd:attribute name="mountDistance" type="xsd:float" use="required" />
        <xsd:attribute name="mountZ" type="xsd:float" use="required" />
        <xsd:attribute name="riderDescentAnimName" type="xsd:string" />
        <xsd:attribute name="riderDespawnEffectId" type="xsd:int" />
        <xsd:attribute name="riderFastAnimName" type="xsd:string" />
        <xsd:attribute name="riderSpawnEffectId" type="xsd:int" use="required" />
        <xsd:attribute name="riderWaitJumpAnimName" type="xsd:string" />
        <xsd:attribute name="saddle" type="xsd:string" use="required" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
        <xsd:attribute name="shapeId" type="xsd:int" use="required" />
        <xsd:attribute name="size" type="xsd:string" />
        <xsd:attribute name="skillSetId" type="xsd:int" />
        <xsd:attribute name="spawnEffectId" type="xsd:int" use="required" />
        <xsd:attribute name="speed" type="xsd:int" use="required" />
        <xsd:attribute name="useUnarmedRun" type="xsd:boolean" />
    </xsd:complexType>

    <xsd:complexType name="VehicleData_Vehicle_AddShape">
        <xsd:attribute name="hiddenLoad" type="xsd:boolean" use="required" />
        <xsd:attribute name="mountAngle" type="xsd:float" use="required" />
        <xsd:attribute name="mountDistance" type="xsd:float" use="required" />
        <xsd:attribute name="mountZ" type="xsd:float" use="required" />
        <xsd:attribute name="rotX" type="xsd:float" />
        <xsd:attribute name="rotY" type="xsd:float" />
        <xsd:attribute name="rotZ" type="xsd:float" />
        <xsd:attribute name="saddle" type="xsd:string" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" />
        <xsd:attribute name="scaleY" type="xsd:float" />
        <xsd:attribute name="scaleZ" type="xsd:float" />
        <xsd:attribute name="shapeId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="VehicleData_Vehicle_GuildLogo">
        <xsd:attribute name="defaultLogoRes" type="xsd:string" use="required" />
        <xsd:attribute name="defaultSpecularMap" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="VehicleData_Vehicle_RaceOverride">
        <xsd:sequence>
            <xsd:element name="PartOverride" type="VehicleData_Vehicle_RaceOverride_PartOverride" minOccurs="0" />
        </xsd:sequence>

        <xsd:attribute name="gender" type="xsd:string" use="required" />
        <xsd:attribute name="mountAngle" type="xsd:float" use="required" />
        <xsd:attribute name="mountDistance" type="xsd:float" use="required" />
        <xsd:attribute name="mountZ" type="xsd:float" use="required" />
        <xsd:attribute name="race" type="xsd:string" use="required" />
        <xsd:attribute name="riderAttachedEffectId" type="xsd:int" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:complexType name="VehicleData_Vehicle_RaceOverride_PartOverride">
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="slot" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="VehicleData" type="VehicleData" />
</xsd:schema>
