xsd/sheets/WeakPointEffectAttachBoneList.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/WeakPointEffectAttachBoneList"
            targetNamespace="https://vezel.dev/novadrop/dc/WeakPointEffectAttachBoneList"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="WeakPointEffectAttachBoneList">
        <xsd:sequence>
            <xsd:element name="WeakPointEffectAttachBone" type="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone">
        <xsd:sequence>
            <xsd:element name="EffectAttachBoneInfo" type="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_EffectAttachBoneInfo" />
            <xsd:element name="NpcData" type="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_NpcData" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_EffectAttachBoneInfo">
        <xsd:sequence>
            <xsd:element name="AttachBone" type="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_EffectAttachBoneInfo_AttachBone" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_EffectAttachBoneInfo_AttachBone">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="priority" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_NpcData">
        <xsd:sequence>
            <xsd:element name="AttachBone" type="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_NpcData_AttachBone" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="huntingZone" type="xsd:int" use="required" />
        <xsd:attribute name="templateId" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectAttachBoneList_WeakPointEffectAttachBone_NpcData_AttachBone">
        <xsd:attribute name="name" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:element name="WeakPointEffectAttachBoneList" type="WeakPointEffectAttachBoneList" />
</xsd:schema>
