xsd/sheets/WeakPointEffectData.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:dc="https://vezel.dev/novadrop/dc"
            xmlns="https://vezel.dev/novadrop/dc/WeakPointEffectData"
            targetNamespace="https://vezel.dev/novadrop/dc/WeakPointEffectData"
            xsi:schemaLocation="https://vezel.dev/novadrop/dc ../DataCenter.xsd"
            elementFormDefault="qualified">
    <xsd:complexType name="WeakPointEffectData">
        <xsd:sequence>
            <xsd:element name="WeakEffectInfo" type="WeakPointEffectData_WeakEffectInfo" />
            <xsd:element name="WeakPointData" type="WeakPointEffectData_WeakPointData" minOccurs="0" />
        </xsd:sequence>

        <xsd:attribute name="class" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectData_WeakEffectInfo">
        <xsd:sequence>
            <xsd:element name="EffectCondition" type="WeakPointEffectData_WeakEffectInfo_EffectCondition" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectData_WeakEffectInfo_EffectCondition">
        <xsd:sequence>
            <xsd:element name="ExplodeEffect" type="WeakPointEffectData_WeakEffectInfo_EffectCondition_ExplodeEffect" maxOccurs="unbounded" />
            <xsd:element name="ExplodeSound" type="WeakPointEffectData_WeakEffectInfo_EffectCondition_ExplodeSound" minOccurs="0" />
            <xsd:element name="Sound" type="WeakPointEffectData_WeakEffectInfo_EffectCondition_Sound" />
            <xsd:element name="WeakEffect" type="WeakPointEffectData_WeakEffectInfo_EffectCondition_WeakEffect" maxOccurs="unbounded" />
        </xsd:sequence>

        <xsd:attribute name="weakPointCount" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectData_WeakEffectInfo_EffectCondition_ExplodeEffect">
        <xsd:attribute name="bForceVisibleEffect" type="xsd:boolean" use="required" />
        <xsd:attribute name="bGround" type="xsd:boolean" use="required" />
        <xsd:attribute name="depth" type="xsd:string" use="required" />
        <xsd:attribute name="detach" type="xsd:boolean" use="required" />
        <xsd:attribute name="explodeType" type="xsd:string" use="required" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="playRate" type="xsd:float" use="required" />
        <xsd:attribute name="posX" type="xsd:float" use="required" />
        <xsd:attribute name="posY" type="xsd:float" use="required" />
        <xsd:attribute name="posZ" type="xsd:float" use="required" />
        <xsd:attribute name="rescaleMethod" type="xsd:string" use="required" />
        <xsd:attribute name="resource" type="xsd:string" use="required" />
        <xsd:attribute name="rotX" type="xsd:float" use="required" />
        <xsd:attribute name="rotY" type="xsd:float" use="required" />
        <xsd:attribute name="rotZ" type="xsd:float" use="required" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" use="required" />
        <xsd:attribute name="scaleY" type="xsd:float" use="required" />
        <xsd:attribute name="scaleZ" type="xsd:float" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="worldSpawn" type="xsd:boolean" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectData_WeakEffectInfo_EffectCondition_ExplodeSound">
        <xsd:attribute name="radius" type="xsd:float" use="required" />
        <xsd:attribute name="soundcue" type="xsd:string" use="required" />
        <xsd:attribute name="time" type="xsd:float" use="required" />
        <xsd:attribute name="volume" type="xsd:float" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectData_WeakEffectInfo_EffectCondition_Sound">
        <xsd:attribute name="appearWeakCue" type="xsd:int" use="required" />
        <xsd:attribute name="explodeCue" type="xsd:int" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectData_WeakEffectInfo_EffectCondition_WeakEffect">
        <xsd:attribute name="bForceVisibleEffect" type="xsd:boolean" use="required" />
        <xsd:attribute name="bGround" type="xsd:boolean" use="required" />
        <xsd:attribute name="depth" type="xsd:string" use="required" />
        <xsd:attribute name="detach" type="xsd:boolean" use="required" />
        <xsd:attribute name="fixRotation" type="xsd:boolean" />
        <xsd:attribute name="id" type="xsd:int" use="required" />
        <xsd:attribute name="playRate" type="xsd:float" use="required" />
        <xsd:attribute name="posX" type="xsd:float" use="required" />
        <xsd:attribute name="posY" type="xsd:float" use="required" />
        <xsd:attribute name="posZ" type="xsd:float" use="required" />
        <xsd:attribute name="rescaleMethod" type="xsd:string" use="required" />
        <xsd:attribute name="resource" type="xsd:string" use="required" />
        <xsd:attribute name="rotX" type="xsd:float" use="required" />
        <xsd:attribute name="rotY" type="xsd:float" use="required" />
        <xsd:attribute name="rotZ" type="xsd:float" use="required" />
        <xsd:attribute name="scale" type="xsd:float" use="required" />
        <xsd:attribute name="scaleX" type="xsd:float" use="required" />
        <xsd:attribute name="scaleY" type="xsd:float" use="required" />
        <xsd:attribute name="scaleZ" type="xsd:float" use="required" />
        <xsd:attribute name="startTime" type="xsd:int" use="required" />
        <xsd:attribute name="targetOn" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="worldSpawn" type="xsd:boolean" use="required" />
    </xsd:complexType>

    <xsd:complexType name="WeakPointEffectData_WeakPointData">
        <xsd:attribute name="abnormalityIcon" type="xsd:int" use="required" />
        <xsd:attribute name="preCountFxMaintain" type="xsd:boolean" use="required" />
        <xsd:attribute name="useStackUIOnGage" type="xsd:boolean" use="required" />
    </xsd:complexType>

    <xsd:element name="WeakPointEffectData" type="WeakPointEffectData" />
</xsd:schema>
